* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-rows: auto 1fr auto;
    background: linear-gradient(#1e52ac,#4da3e6 50%,#1897ce 60%,#24489b);
}

header, footer {
    height: 100px;
    background-color: #3122cf;
    color: #FFFFFF;
    display: grid;
    align-items: center;
    padding: 0 75px;
}

header {
    grid-template-columns: 64px 64px 100px;
}

header span {
    font-weight: 600;
}

a {
    color: #ffffff;
}

main {
    display: grid;
    place-items: center;
    text-align: center;
    padding: 20px;
    min-height: calc(100vh - 200px);
}

.background-logo {
    position: absolute;
    width: 100%;
    height: 80%;
    z-index: -1;
}

.content-text {
    color: #ffffff;
    font-size: 2.5rem;
    max-width: 240px;
    text-align: center;
}

.content-image {
    width: 80%;
    max-width: 80%;
    height: auto;
    max-height: 90vh;
    object-fit: contain;
}

footer {
    height: 100px;
    display: grid;
    align-items: center;
    font-weight: 100;
    grid-template-columns: 1fr auto;
}

@media (max-width: 768px) {

    header {
        padding-left: 25px;
    }

    .content-text {
        font-size: 1.5rem;
        max-width: 100%;
    }

    .content-image {
        max-height: 70vh;
    }

    footer {
        padding-left: 25px;
        grid-template-columns: 1fr;
        text-align: center;
    }
}
